<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #fff;
    }
    .container{
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px;
        width: 300px;
        align-items: center;
    }
</style>

<head>
    <!-- //<title>Calculadora</title> -->
</head>

<body>
    <div class="container">
        <!-- <h1>Calculadora</h1> -->
        <h4>Res Calculator</h4>
        <hr>
        <form th:action="@{/calculadora/resta}" method="post">
            <label for="num1">Number 1:</label><br>
            <input type="number" id="num1" name="num1" th:value="${num1}"><br>

            <label for="num2">Number 2:</label><br>
            <input type="number" id="num2" name="num2" th:value="${num2}"><br>
            <label for="num2">Resultado:</label><br>
            <input id="result" readonly th:value="${result}"><br>

            <button class="but" type="submit">Calcular</button>
            <button class="but" type="button" id="clearButton">Limpiar</button>

        </form>
    </div>

    <script>
        document.getElementById('clearButton').addEventListener('click', function() {
            document.getElementById('num1').value = '';
            document.getElementById('num2').value = '';
            document.getElementById('result').value = '';
        });
    </script>
</body>

</html>
